:root{
  --color-black: #181818;
  --color-white: #ffffff;
}

:root{
  --color-text-white: var(--color-white);
  --color-text-black: var(--color-black);

  --color-bg-white: var(--color-white);
  --color-bg-black: var(--color-black);
}

body {
  margin: 0;
  font-size: 1rem;
  background-color: var(--color-bg-black);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, p, h2{
  color: var(--color-text-white);
}

button {
  background-color: var(--color-bg-black);
  color: var(--color-text-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-white: var(--color-black);
    --color-text-black: var(--color-white);

    --color-bg-white: var(--color-black);
    --color-bg-black: var(--color-white);
  }
}